@tailwind base;
@tailwind components;
@tailwind utilities;

  #scroll-container {
  overflow-x: scroll; /* Hide the scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
   
} 

 

#scroll-container::-webkit-scrollbar {
 display:none; /* Hide scrollbar in Chrome, Safari, and Opera */
} 